  .CodeMirror {border-top: 1px solid black; border-bottom: 1px solid black;}
  .CodeMirror-focused .cm-matchhighlight {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
    background-position: bottom;
    background-repeat: repeat-x;
  }
  .cm-matchhighlight {border: 0.5px solid white;}
  .CodeMirror-selection-highlight-scrollbar {background-color: gray}
  .CodeMirror-selected  { background-color: blue !important; }
  .CodeMirror-selectedtext { color: #ffffff !important;}
  .styled-background { background-color: #ff7;}
  .cm-trailingspace {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUXCToH00Y1UgAAACFJREFUCNdjPMDBUc/AwNDAAAFMTAwMDA0OP34wQgX/AQBYgwYEx4f9lQAAAABJRU5ErkJggg==);
    background-position: bottom left;
    background-repeat: repeat-x;
  }
  .CodeMirror { border: 1px solid silver; }
  .CodeMirror-empty { outline: 1px solid #c22; }
  .CodeMirror-empty.CodeMirror-focused { outline: none; }
  .CodeMirror pre.CodeMirror-placeholder { color: #999; }
