<div ng-app="codeGamed">

  <!--- header -->
  
    <md-toolbar class="codeGamed-toolbar">
      <div class="md-toolbar-tools">
        <md-button >

          <a ng-href="/#/"><i class="material-icons">home</i></a>

        </md-button>


<!--         <md-button  class="md-raised" aria-label="Sign Out">
 -->          <%= link_to "Sign out", signout_path, id: "sign_out" %>
<!--         </md-button>
 -->

        <span flex></span>
        Welcome &nbsp; <strong><%= current_user.name %></strong> &nbsp;
        <%= image_tag current_user.image_url , class: 'codeGamed-toolbar-avatar' %>

      </div>
    </md-toolbar>

   <!--- The Body -->
  <div ng-view>

  </div>
</div>