<div id="user-widget">
  <% if current_user %>
    	<%= render 'angular' %>
  <% elsif current_admin %>
      <%= render 'admin' %>
  <% else %>
		<%= render 'guest' %>
  <% end %>
  
  <footer>
    <div class="new-landing--footer-copyrights -text-uppercase -order-1 -flex-2">
      © 2016 CodeGamed Team.
    </div>
  </footer>
</div>