.home-container{
    background-color: #596a7d;


}
#level_missions_toolbar{
    background-color: #33485F;
    position:relative;z-index: 1;

}
.md-toolbar-tools{
    background-color: #33485F;
    position: fixed;

}
.icon-small{
    max-width: 60px;
    margin-right: 10px;

}
#bg {
  position: fixed; 
  top: -20%;
  left: -50%;
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;

}
.md-raised a {
    margin-top: 16px;
    margin-bottom: 16px;
    /*color: #33485F;*/
}
#submit{
    color: white;!important;
    float: right;
    margin: 5px 15px;


}

.codeGamed-toolbar-avatar{

    border-radius: 48px;
    width: 40px;

}
#intro h1{
    color: #ffffff;
    font-size:50px;
    margin-bottom:20px;
    font-family: "Roboto-Light", "Roboto", sans-serif;
    text-align:left;
    margin-left: 50px;

}
#intro p{
    font-family: "Roboto-Light", "Roboto", sans-serif;
    text-align:left;
    color: #ffffff;
    font-size:30px;
    margin: 50px;
}

#levels-background-image{

background-image: url("/1.jpg");
    height: 180px;
    background-size: cover;
}


.badge-card{
    height: 450px;
}
.badge_image{
    margin: auto;
}
.locked_level{
    color: lightgray;
}
.locked-div{
    position: relative;
    top: -250px;
}
#levels-grid-background-color{
    background-color: #e3e3e3;
    padding: 30px;
}

.card-image-resize{
    background-size: cover;
    margin: auto;
}
.objectives{
    background-color:inherit;
    padding-bottom: 60px;

}
.objectives md-card{
    background-image:url(/logo_large.png) ;
    background-size: cover;

}
.reviews{
    background-color: transparent;
}
.reviews p{

    font-size: 13px;

}
footer{
   background-color: #33485F;
    color: #FFFFFF;
    padding: 20px;
    font-size: 16px;
    font-weight: 400;
    font-family: "RobotoDraft", "Roboto", sans-serif;
    text-transform:uppercase;

}
md-card-header-text {
    margin-left: 20px;
}
md-card-title{
    background-color: #33485F;!important;
    color: lightgray;
}


md-grid-tile.ng-enter,
md-grid-tile.ng-leave {
    -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
}

md-grid-tile.ng-leave.ng-leave-active,
md-grid-tile.ng-enter {
    -webkit-transform: skewX(45deg) skewY(30deg);
    -moz-transform: skewX(45deg) skewY(30deg);
    -ms-transform: skewX(45deg) skewY(30deg);
    -o-transform: skewX(45deg) skewY(30deg);
    transform: skewX(45deg) skewY(30deg);
    opacity: 0;
    height: 0px;
}
md-sidenav{
    position: fixed;
}
md-autocomplete{
    width: 40%;
    color: black;
}
.autocomplete-custom-template li {
    border-bottom: 1px solid #ccc;
    height: auto;
    padding-top: 8px;


    font-size:20px;
}

