
<div id="levels-background-image">
</div>
<div class="container-fluid">
<div id="levels-grid-background-color" class="row">
  <div class="row">
<div class="col-sm-3 badge-card" ng-repeat="badge in badges">
    <md-card >
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{badge.title}}</span>
        </md-card-title-text>
      </md-card-title>
      <a ng-href="/#/missions/{{badge.level_id}}">
    <md-card-content layout="row" layout-align="space-between">
          <div class="md-media-xl">
            <img ng-src="{{badge.image_url.image_url.url}}">
        </div>
      </md-card-content>
    </a>

      <div class="progress pro"  ng-if="badge.progress==100" >
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:100%;">
        </div>
      </div>
      <div class="progress" ng-if="badge.progress<100">
        {{badge.progress}}%
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{badge.progress}}" aria-valuemin="0" aria-valuemax="100" ng-style={"width":"{{badge.progress}}%"}>
        </div>
      </div>
    </md-card>

</div>




  <div class="col-sm-3 badge-card locked_level" ng-repeat="locked in locked_levels">
    <md-card>

      <md-card-title>
        <md-card-title-text>
          <span class="md-headline" >{{locked.title}} </span>
        </md-card-title-text>
      </md-card-title>
      <a>
      <md-card-content layout="row" layout-align="space-between">
        <div class="md-media-xl" style=" opacity: 0.4;  ">
          <img ng-src="{{locked.image_url.url}}" >
          <span class="locked-div"></span>
        </div>
      </md-card-content>
        </a>
      <div class="progress">
        0%
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:100%;">
        </div>
      </div>
    </md-card>

</div>
  </div>
</div>
</div>