<h1> Mission Page</h1>

<div layout="row"  >
  <div flex style=" height: 600px; ">

    <md-tabs  md-border-bottom style="min-height: 100%;">
      <md-tab label="Video" style="background-color: #2b2b2b;">
        <md-content class="md-padding" style="background-color: transparent">

          <embed width="600" height="315"
                 src="http://www.youtube.com/embed/3TAUnYZpMbA">

        </md-content>
      </md-tab>
      <md-tab label="Problem Description">
        <md-content class="md-padding">
          <p ng-bind-html="myHTML"></p>
        </md-content>
      </md-tab>
    </md-tabs>

  </div>

  <div flex>
    <div layout="column">
      <div flex style="background-color: #2b2b2b; height: 360px; border-bottom-style: solid; border-bottom-color: transparent;">
        <div id="codeEditing" style="min-height: 100%;"></div>
        <!--<md-tabs  md-border-bottom >-->
          <!--<md-tab label="Code">-->
          <!--</md-tab>-->
        <!--</md-tabs>-->
      </div>
      <div flex style="background-color: #2b2b2b; height: 280px; border-bottom-style: solid; border-bottom-color: transparent;">
        <md-tabs  md-border-bottom style="min-height: 100%;">
          <md-tab label="Test Cases" style="background-color: #2b2b2b;">
            <md-content class="md-padding" style="background-color: transparent;">
              <h1 class="md-display-2">Test Cases</h1>
              <p>Test Cases</p>
            </md-content>
          </md-tab>
        </md-tabs>
      </div>
    </div>

  </div>
</div>


<script>

  var myCodeMirror = CodeMirror(document.getElementById("codeEditing"), {
    value: "public void someFunction(){\n //do some thing\n }",
    mode:"text/x-java",
    lineNumbers: true,
    theme:"dracula",indentUnit:4,
    matchBrackets:true,
    styleActiveLine:false,
    autoCloseBrackets:true,
    highlightSelectionMatches: {showToken: /\w/, annotateScrollbar: true},
    styleSelectedText: false,
    scrollbarStyle: "overlay", //or "simple"



  })
  var mac = CodeMirror.keyMap.default == CodeMirror.keyMap.macDefault;
  CodeMirror.keyMap.default[(mac ? "Cmd" : "Ctrl") + "-Space"] = "autocomplete";

</script>
