<h1>Mission</h1>



<div id="codeEditing">


</div>


<script type="text/javascript">

  var myCodeMirror = CodeMirror(document.getElementById("codeEditing"), {
    value: "function myfun(){\n//do something();\n}",
    mode:"text/x-java",
    lineNumbers: true
  })

</script>